{% extends "base.html" %}
{% block content %}
<h2>Uploaded Media</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
    {% for media in media_paths %}
        <div class="col">
            <div class="card">
                {% if media.lower().endswith(('png', 'jpg', 'jpeg', 'gif')) %}
                    <img src="{{ url_for('static', filename='../' + media) }}" class="card-img-top" alt="media">
                {% elif media.lower().endswith('mp4') %}
                    <video class="card-img-top" controls>
                        <source src="{{ url_for('static', filename='../' + media) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<h2>External Images</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for url in external_paths %}
        <div class="col">
            <div class="card">
                <img src="{{ url }}" class="card-img-top" alt="external image">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
